<md-content>
    <div class="md-padding">
        <h2 class="md-subhead">Top {{vm.topXSlider}} Genes By Degree</h2>
        <div layout="row">
            <md-slider class="right-padded-25" flex min="1" max="{{vm.sharedData.geneList.length/2}}" ng-model="vm.topXSlider" aria-label="red" id="top-x-genes" class>
            </md-slider>
            <div flex="20" layout layout-align="center center">
                <input flex type="number" min="1" max="{{vm.sharedData.geneList.length/2}}" ng-model="vm.topXSlider" aria-label="red" aria-controls="top-x-genes">
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <div class="md-padding">
        <h2 class="md-subhead">Genes With Degree {{vm.minDegreeSlider}} Or Higher</h2>
        <div layout="row">
            <md-slider class="right-padded-25" flex="75" min="0" max="{{vm.sharedData.maxDegree}}" ng-model="vm.minDegreeSlider" aria-label="red" id="min-degree-genes" class>
            </md-slider>
            <div flex="20" layout layout-align="center center">
                <input flex type="number" min="1" max="{{vm.sharedData.maxDegree}}" ng-model="vm.minDegreeSlider" aria-label="red" aria-controls="min-degree-genes">
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <div class="md-padding">
        <h2 class="md-subhead">Filter By</h2>
        <md-radio-group ng-model="vm.filterType">
            <md-radio-button value="top" class="md-primary">Top Genes</md-radio-button>
            <md-radio-button value="min">Min Degree</md-radio-button>
            <md-radio-button value="both">Both</md-radio-button>
        </md-radio-group>
        <md-button class="md-raised md-primary" ng-click="vm.getTopGenes()">Get Top Genes</md-button>
    </div>
</md-content>