<div>
    <md-content>
        <md-tabs md-selected="selectedTab" md-dynamic-height md-border-bottom md-disable-animation md-enable-disconnect="false">
            <md-tab label="Main Graph">
                <md-content ng-controller="MainGraphController as vm" ng-init="vm.initializeController('main')">
                    <section layout="row">
                        <div>
                            <div class="md-whiteframe-1dp" static-include="partials/MGTab/sideBar.html"></div>
                            <md-button ng-if="vm.sdWithinTab.config" style="float: right;" class="md-primary md-raised export-button" ng-click="vm.exportGraphToPNG(vm)">Export Graph</md-button>
                        </div>
                        <md-content flex>
                            <div ng-show="vm.sdWithinTab.display == vm.displayModes.graph">
                                <div class="graph-container" id="cyMain"></div>
                                <div class="card-side-by-side" static-include="partials/tiles/overallMatrixSummary.html"></div>
                                <div class="card-side-by-side" static-include="partials/tiles/graphSummary.html"></div>
                                <!--                                    <div class="card-side-by-side" static-include="'partials/legend.html'"></div>-->
                                <div class="card-side-by-side" static-include="partials/tiles/edgeInspectorTile.html"></div>
                                <div class="card-side-by-side" static-include="partials/tiles/legend.html"></div>
                            </div>
                            <div ng-show="vm.sdWithinTab.display == vm.displayModes.table && selectedTab == 0" static-include="partials/MGTab/tableView.html"></div>
                            <!--<div>{{genes}}</div>-->
                        </md-content>
                    </section>
                </md-content>
            </md-tab>
            <md-tab ng-if="dataLoaded" label="Interaction Explorer">
                <md-content ng-controller="InteractionExplorerController as vm" ng-init="vm.initializeController('interactionExplorer')">
                    <section layout="row">
                        <div>
                            <div static-include="partials/IETab/sideBar.html"></div>
                            <md-button ng-if="vm.sdWithinTab.config" style="float: right;" class="md-primary md-raised export-button" ng-click="vm.exportGraphToPNG(vm)">Export Graph</md-button>
                        </div>
                        <md-content flex>
                            <div ng-show="vm.sdWithinTab.display == vm.displayModes.graph">
                                <div class="graph-container" id="cyInteractionExplorer"></div>
                                <div class="card-side-by-side" static-include="partials/tiles/graphSummary.html"></div>
                                <div class="card-side-by-side" static-include="partials/tiles/edgeInspectorTile.html"></div>
                                <div class="card-side-by-side" static-include="partials/tiles/legend.html"></div>
                            </div>
                            <div ng-show="vm.sdWithinTab.display == vm.displayModes.table && selectedTab == 1" static-include="partials/IETab/tableView.html"></div>
                        </md-content>
                    </section>
                </md-content>
            </md-tab>
            <md-tab ng-if="dataLoaded" label="Path Explorer">
                <md-content ng-controller="PathExplorerController as vm" ng-init="vm.initializeController('pathExplorer')">
                    <section layout="row">
                        <div static-include="partials/PETab/sideBar.html">
                        </div>
                        <md-content ng-if="selectedTab == 2" flex>
                            <div static-include="partials/PETab/tableView.html"></div>
                        </md-content>
                    </section>
                </md-content>
            </md-tab>
            <md-tab ng-if="dataLoaded" label="Degree Explorer">
                <md-content ng-controller="DegreeExplorerController as vm" ng-init="vm.initializeController('degreeExplorer')">
                    <section layout="row">
                        <div static-include="partials/DETab/sideBar.html">
                        </div>
                        <md-content ng-show="selectedTab == 3" flex>
                            <div static-include="partials/DETab/tableView.html"></div>
                        </md-content>
                    </section>
                </md-content>
            </md-tab>
            <md-tab label="Community Explorer">
                <md-content ng-controller="CommunityExplorerController as vm" ng-init="vm.initializeController('community')">
                    <section layout="row">
                        <div>
                            <div static-include="partials/CETab/sideBar.html"></div>
                            <md-button ng-if="vm.sdWithinTab.config" style="float: right;" class="md-primary md-raised export-button" ng-click="vm.exportGraphToPNG(vm)">Export Graph</md-button>
                        </div>
                        <md-content flex>
                            <div id="community-explorer-graph-view" ng-show="vm.sdWithinTab.display == vm.displayModes.graph">
                                <div class="graph-container" id="cyCommunityExplorer"></div>
                            </div>
                            <div ng-show="vm.sdWithinTab.display == vm.displayModes.table" static-include="partials/CETab/tableView.html"></div>
                        </md-content>
                    </section>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>