<div ng-controller="DocumentationController as vm" style="min-width: 900px;" layout="column">
    <div class="doc-background-blue" flex>
        <div class="top-margin-25" layout="row" layout-align="none center">
            <div flex="30"></div>
            <div class="doc-h1 doc-white-font" flex="40">Introducing CrosstalkNet</div>
            <div flex="30">
                <md-button ng-click="vm.changeRoute()" href="#/app" t class="doc-app-button">App</md-button>
                <md-button href="res/docs/crosstalknetdocumentation.pdf" target="_blank" class="doc-app-button">Documentation</md-button>
            </div>
        </div>
        <!-- <h1 class="doc-h1 doc-white-font">Introducing CrosstalkNet</h1> -->
        <div class="full-height" layout="row">
            <div class="doc-content-padding" flex>
                <div class="full-height" layout="column">
                    <div class="bottom-margin-25" flex="50">
                        <h2 class="doc-h2 center-text">App Description</h2>
                        <p class="left-padded doc-content-font doc-white-font"> Crosstalk Net is a data mining app focused on examining the interactions between tumor epithelial and stromal cells. It has multiple utilities that allow for exploring different levels of neighbours, determining if there are paths between two genes of interest, and finding out what genes are highly connected.</p>
                    </div>
                    <div flex="noshrink" layout="row" layout-align="center center">
                        <object data="res/images/microscope1.svg" class="microscope-pic"></object>
                    </div>
                </div>
            </div>
            <div class="doc-content-padding" flex>
                <div class="full-height" layout="column">
                    <div flex="noshrink" layout="row" layout-align="center center">
                        <object data="res/images/dna1.svg" class="dna-pic"></object>
                    </div>
                    <div layout="row" layout-align="center center" flex="50">
                        <div>
                            <h2 class="doc-h2">Requirements</h2>
                            <ul class="doc-content-font doc-white-font">
                                <li>Google Chrome</li>
                                <li>An account to upload files</li>
                                <li>Nothing else!</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="choosing-data relative-position" flex>
        <div class="bottom-margin-75">
            <h1 class="doc-h1 doc-blue-font">Choosing Data</h1>
            <div class="full-height doc-content-font doc-blue-font center-text bottom-margin-25">
                In order to begin exploring interactions, a network type must be selected via the radio buttons. Once a network type is selected, the corresponding file(s) need to be selected as well.
            </div>
            <div layout="row">
                <div flex="10"></div>
                <div flex="20"><img class="doc-get-genes-size" src="res/images/tutorial/select_network_type.PNG"></div>
                <div flex layout="row" layout-align="center center">
                    <object class="doc-blue-fill doc-arrow-size" data="res/images/right-arrow.svg"></object>
                </div>
                <div flex="20"><img class="doc-get-genes-size" src="res/images/tutorial/choose_file.PNG"></div>
                <div flex layout="row" layout-align="center center">
                    <object class="doc-blue-fill doc-arrow-size" data="res/images/right-arrow.svg"></object>
                </div>
                <div flex="20"><img class="doc-get-genes-size" src="res/images/tutorial/get_genes.PNG"></div>
                <div flex="10"></div>
            </div>
        </div>
    </div>
    <div class="doc-background-red" flex>
        <div class="bottom-margin-25">
            <h1 class="doc-h1 doc-white-font">Uploading Data</h1>
            <div layout="column">
                <div class="full-height doc-content-font doc-white-font center-text bottom-margin-25" flex>
                    If a user wants to use their own data, they are able to upload it in the Data sub-tab of the Main Graph tab. A user needs to be logged in for this feature to be enabled.
                </div>
                <div flex layout="column" layout-align="center center">
                    <h2 class="doc-h2 doc-white-font">
                        Requirements
                    </h2>
                    <ul class="doc-content-font doc-white-font">
                        <li>Files must contain a single dgCMatrix from the Sparse Matrix package</li>
                        <li>No matrix is allowed to have NA values</li>
                        <li>The rownames of a matrix must match its colnames</li>
                        <li>The rownames and colnames of a matrix must not contain NA values</li>
                        <li>Files must be saved using the saveRDS function</li>
                        <li>Files must have an Rdata extension</li>
                        <li>Files must be smaller than 20MB in size</li>
                    </ul>
                </div>
            </div>
            <div class="bottom-margin-25" style="min-width: 900px;" layout="row">
                <div flex="10"></div>
                <div flex="20"><img class="doc-get-genes-size" src="res/images/tutorial/upload_network_type.PNG"></div>
                <div flex layout="row" layout-align="center center">
                    <object class="doc-blue-fill doc-arrow-size" data="res/images/right-arrow.svg"></object>
                </div>
                <div flex="20"><img class="doc-get-genes-size" src="res/images/tutorial/select_delta_files.PNG"></div>
                <div flex layout="row" layout-align="center center">
                    <object class="doc-blue-fill doc-arrow-size" data="res/images/right-arrow.svg"></object>
                </div>
                <div flex="20"><img class="doc-get-genes-size" src="res/images/tutorial/upload_delta_files.PNG"></div>
                <div flex="10"></div>
            </div>
            <div class="doc-content-font doc-white-font center-text">A dialog box will open shortly indicating the success status of the upload</div>
        </div>
    </div>
    <div class="doc-background-light-blue" flex>
        <div class="bottom-margin-25">
            <h1 class="doc-h1 doc-white-font">Main Graph</h1>
            <div class="full-height doc-content-font doc-white-font center-text bottom-margin-25">
                Here is a video guide showing the basic usage of the Main Graph tab.
            </div>
            <div style="min-width: 900px;" layout="row">
                <div flex></div>
                <div flex layout="row" layout-align="center center">
                    <video width="400" controls>
                        <source src="res/videos/tutorial/main_graph.mp4" type="video/mp4">
                    </video>
                </div>
                <div flex></div>
            </div>
        </div>
    </div>
    <object data="res/images/curved_divider.svg" class="doc-background-blue"></object>
    <div class="doc-background-blue" flex>
        <div class="bottom-margin-25">
            <h1 class="doc-h1 doc-white-font">Interaction Explorer</h1>
            <div class="full-height doc-content-font doc-white-font center-text bottom-margin-25">
                Here is a video guide showing the basic usage of the Interaction Explorer tab.
            </div>
            <div style="min-width: 900px;" layout="row">
                <div flex layout="row" layout-align="center center">
                    <object data="res/images/path1.svg" style="width: 200px; height: 200px;"></object>
                </div>
                <div flex layout="row" layout-align="center center">
                    <video width="400" controls>
                        <source src="res/videos/tutorial/interaction_explorer.mp4" type="video/mp4">
                    </video>
                </div>
                <div flex layout="row" layout-align="center center">
                    <object data="res/images/path1.svg" style="width: 200px; height: 200px;"></object>
                </div>
            </div>
        </div>
    </div>
    <div class="" flex>
        <div class="bottom-margin-25">
            <h1 class="doc-h1 doc-blue-font">Path Existence Checker</h1>
            <div class="full-height doc-content-font doc-blue-font center-text bottom-margin-25">
                Here is a video guide showing the basic usage of the Path Existence Checker tab.
            </div>
            <div style="min-width: 900px;" layout="row">
                <div flex layout="row" layout-align="center center">
                    <object data="res/images/path1.svg" style="width: 200px; height: 200px;"></object>
                </div>
                <div flex layout="row" layout-align="center center">
                    <video width="400" controls>
                        <source src="res/videos/tutorial/path_existence_checker.mp4" type="video/mp4">
                    </video>
                </div>
                <div flex layout="row" layout-align="center center">
                    <object data="res/images/path1.svg" style="width: 200px; height: 200px;"></object>
                </div>
            </div>
        </div>
    </div>
    <div>DNA by Viktor Minuvi from the Noun Project</div>
    <div>direction by Pham Thi Dieu Linh from the Noun Project</div>
</div>
