<div ng-controller="DocumentationController as vm" style="min-width: 900px;" layout="column">
    <div class="doc-background-blue" flex>
        <div class="top-margin-25" layout="row" layout-align="none center">
            <div flex="30"></div>
            <div class="doc-h1 doc-white-font" flex="40">Introducing CrosstalkNet</div>
            <div flex="30">
                <md-button ng-click="vm.changeRoute()" href="#/app" class="doc-app-button">App</md-button>
                <md-button href="res/docs/crosstalknetdocumentation.pdf" target="_blank" class="doc-app-button">Documentation</md-button>
            </div>
        </div>
        <div class="full-height" layout="row">
            <div class="doc-content-padding" flex>
                <div class="full-height" layout="column">
                    <div class="bottom-margin-25" flex="50">
                        <h2 class="doc-h2 center-text doc-white-font">App Description</h2>
                        <p class="left-padded doc-content-font doc-white-font"> CrosstalkNet is a web app focused on exploring the interactions between tumor epithelial and stromal cells in a bipartite manner. It has multiple utilities that allow for exploring different levels of neighbours, determining if there are paths between two genes of interest, and finding out what genes are highly connected.</p>
                    </div>
                    <div flex="noshrink" layout="row" layout-align="center center">
                        <object data="res/images/network.svg" class="network-pic"></object>
                    </div>
                </div>
            </div>
            <div class="doc-content-padding" flex>
                <div class="full-height" layout="column">
                    <div flex="noshrink" layout="row" layout-align="center center">
                        <object data="res/images/dna1.svg" class="dna-pic"></object>
                    </div>
                    <div layout="row" layout-align="center center" flex="50">
                        <div>
                            <h2 class="doc-h2 doc-white-font">Requirements</h2>
                            <ul class="doc-content-font doc-white-font">
                                <li>Web Browser: Chrome officially supported, others work too</li>
                                <li>An account to upload files</li>
                                <li>Nothing else!</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="choosing-data relative-position" flex>
        <div class="bottom-margin-75">
            <h1 class="doc-h1 doc-blue-font">Choosing Data</h1>
            <div class="full-height doc-content-font doc-blue-font center-text bottom-margin-25">
                In order to begin exploring interactions, a network type must be selected via the radio buttons. Once a network type is selected, the corresponding file(s) need to be selected as well.
            </div>
            <div layout="row">
                <div flex="10"></div>
                <div flex="20"><img class="doc-get-genes-size" src="res/images/tutorial/select_network_type.PNG"></div>
                <div flex layout="row" layout-align="center center">
                    <object class="doc-blue-fill doc-arrow-size" data="res/images/right-arrow.svg"></object>
                </div>
                <div flex="20"><img class="doc-get-genes-size" src="res/images/tutorial/choose_file.PNG"></div>
                <div flex layout="row" layout-align="center center">
                    <object class="doc-blue-fill doc-arrow-size" data="res/images/right-arrow.svg"></object>
                </div>
                <div flex="20"><img class="doc-get-genes-size" src="res/images/tutorial/get_genes.PNG"></div>
                <div flex="10"></div>
            </div>
        </div>
    </div>
    <div class="doc-background-red" flex>
        <div class="bottom-margin-25">
            <h1 class="doc-h1 doc-white-font">Uploading Data</h1>
            <div layout="column">
                <div class="full-height doc-content-font doc-white-font center-text bottom-margin-25" flex>
                    If a user wants to use their own data, they are able to upload it in the Data sub-tab of the Main Graph tab. A user needs to be logged in for this feature to be enabled.
                </div>
                <div flex layout="column" layout-align="center center">
                    <h2 class="doc-h2 doc-white-font">
                        Requirements
                    </h2>
                    <ul class="doc-content-font doc-white-font">
                        <li>Files must contain a single dgCMatrix from the Sparse Matrix package</li>
                        <li>No matrix is allowed to have NA values</li>
                        <li>The rownames of a matrix must match its colnames</li>
                        <li>The rownames and colnames of a matrix must not contain NA values</li>
                        <li>Files must be saved using the saveRDS function</li>
                        <li>Files must have an Rdata extension</li>
                        <li>Files must be smaller than 20MB in size</li>
                    </ul>
                </div>
            </div>
            <div class="bottom-margin-25" style="min-width: 900px;" layout="row">
                <div flex="10"></div>
                <div flex="20"><img class="doc-get-genes-size" src="res/images/tutorial/upload_network_type.PNG"></div>
                <div flex layout="row" layout-align="center center">
                    <object class="doc-blue-fill doc-arrow-size" data="res/images/right-arrow.svg"></object>
                </div>
                <div flex="20"><img class="doc-get-genes-size" src="res/images/tutorial/select_delta_files.PNG"></div>
                <div flex layout="row" layout-align="center center">
                    <object class="doc-blue-fill doc-arrow-size" data="res/images/right-arrow.svg"></object>
                </div>
                <div flex="20"><img class="doc-get-genes-size" src="res/images/tutorial/upload_delta_files.PNG"></div>
                <div flex="10"></div>
            </div>
            <div class="doc-content-font doc-white-font center-text">A dialog box will open shortly indicating the success status of the upload.</div>
            <div class="doc-content-font doc-white-font center-text"><a class="doc-link doc-content-font doc-white-font bold" href="res/sample_files/example_matrices.zip" target="_blank">Sample Files Download</a></div>
        </div>
    </div>
    <div class="doc-background-light-blue" flex>
        <div class="bottom-margin-25">
            <h1 class="doc-h1 doc-white-font">Main Graph</h1>
            <div class="full-height doc-content-font doc-white-font center-text bottom-margin-25">
                Here is a video guide showing the basic usage of the Main Graph tab.
            </div>
            <div style="min-width: 900px;" layout="row">
                <div flex="10">
                </div>
                <div flex="20" layout="column" layout-align="center center">
                    <h2 class="doc-h2 doc-white-font">Features</h2>
                    <ul class="doc-content-font doc-white-font">
                        <li>Investigate multiple genes at once</li>
                        <li>View first neighbours</li>
                        <li>View second neighbours</li>
                        <li>Filter interactions</li>
                        <li>Locate genes in graph</li>
                        <li>Download interactions</li>
                    </ul>
                </div>
                <div flex="40" layout="row" layout-align="center center">
                    <video width="400" controls>
                        <source src="res/videos/tutorial/main_graph.mp4" type="video/mp4">
                    </video>
                </div>
                <div flex="20" layout="column" layout-align="center center">
                    <h2 class="doc-h2 doc-white-font">Usage</h2>
                    <div class="doc-content-font doc-white-font">
                        Intended to view clusters of first and second neighbours for multiple genes of interest. Can show if genes have interactors in common and provides a focused subnetwork of the overall network that has possibly millions of interactions.
                    </div>
                </div>
                <div flex="10"></div>
            </div>
        </div>
    </div>
    <object data="res/images/curved_divider.svg" class="doc-background-blue"></object>
    <div class="doc-background-blue" flex>
        <div class="bottom-margin-25">
            <h1 class="doc-h1 doc-white-font">Interaction Explorer</h1>
            <div class="full-height doc-content-font doc-white-font center-text bottom-margin-25">
                Here is a video guide showing the basic usage of the Interaction Explorer tab.
            </div>
            <div style="min-width: 900px;" layout="row">
                <div flex="10">
                </div>
                <div flex="20" layout="column" layout-align="center center">
                    <h2 class="doc-h2 doc-white-font">Features</h2>
                    <ul class="doc-content-font doc-white-font">
                        <li>Focus on one gene of interest</li>
                        <li>View infinite levels of neighbours</li>
                        <li>Locate genes in graph</li>
                        <li>Download interactions</li>
                    </ul>
                </div>
                <div flex="40" layout="row" layout-align="center center">
                    <video width="400" controls>
                        <source src="res/videos/tutorial/interaction_explorer.mp4" type="video/mp4">
                    </video>
                </div>
                <div flex="20" layout="column" layout-align="center center">
                    <h2 class="doc-h2 doc-white-font">Usage</h2>
                    <div class="doc-content-font doc-white-font">
                        Intended to explore potential pathways from a single gene of interest through its neighbours. At each level of neighbours, a different gene is selected and its corresponding neighbours will be added to the chain of neighbours.
                    </div>
                </div>
                <div flex="10"></div>
            </div>
        </div>
    </div>
    <div class="doc-castle-divider doc-background-black" flex>
        <div class="bottom-margin-75">
            <h1 class="doc-h1 doc-light-blue-font">Path Explorer</h1>
            <div class="full-height doc-content-font doc-light-blue-font center-text bottom-margin-25">
                Here is a video guide showing the basic usage of the Path Explorer tab.
            </div>
            <div style="min-width: 900px;" layout="row">
                <div flex="10">
                </div>
                <div flex="20" layout="column" layout-align="center center">
                    <h2 class="doc-h2 doc-light-blue-font">Features</h2>
                    <ul class="doc-content-font doc-light-blue-font">
                        <li>Find all paths between 2 genes</li>
                        <li>Sort by various columns</li>
                        <li>Download list of paths</li>
                    </ul>
                </div>
                <div flex="40" layout="row" layout-align="center center">
                    <video width="400" controls>
                        <source src="res/videos/tutorial/path_existence_checker.mp4" type="video/mp4">
                    </video>
                </div>
                <div flex="20" layout="column" layout-align="center center">
                    <h2 class="doc-h2 doc-light-blue-font">Usage</h2>
                    <div class="doc-content-font doc-light-blue-font">
                        Retrieves the path between an epi and stroma gene if one exists. Retrieves all paths between two stroma genes, or two epi genes.
                    </div>
                </div>
                <div flex="10"></div>
            </div>
        </div>
    </div>
    <div class="relative-position doc-background-blue" flex>
        <div class="bottom-margin-75">
            <h1 class="doc-h1 doc-white-font">Degree Explorer</h1>
            <div class="full-height doc-content-font doc-white-font center-text bottom-margin-25">
                Here is a video guide showing the basic usage of the Degree Explorer tab.
            </div>
            <div style="min-width: 900px;" layout="row">
                <div flex="10">
                </div>
                <div flex="20" layout="column" layout-align="center center">
                    <h2 class="doc-h2 doc-white-font">Features</h2>
                    <ul class="doc-content-font doc-white-font">
                        <li>View top genes ordered by degree</li>
                        <li>View genes having specified degree or higher</li>
                        <li>Download list of paths</li>
                    </ul>
                </div>
                <div flex="40" layout="row" layout-align="center center">
                    <video width="400" controls>
                        <source src="res/videos/tutorial/degree_explorer.mp4" type="video/mp4">
                    </video>
                </div>
                <div flex="20" layout="column" layout-align="center center">
                    <h2 class="doc-h2 doc-white-font">Usage</h2>
                    <div class="doc-content-font doc-white-font">
                        Retrieves all genes are their corresponding degrees in an ordered manner with cutoffs available for either minimum degree or maximum amount of genes.
                    </div>
                </div>
                <div flex="10"></div>
            </div>
        </div>
    </div>
    <div class="doc-background-light-blue" flex>
        <div class="bottom-margin-25">
            <h1 class="doc-h1 doc-white-font">Community Explorer</h1>
            <div class="full-height doc-content-font doc-white-font center-text bottom-margin-25">
                Here is a video guide showing the basic usage of the Community Explorer tab.
            </div>
            <div style="min-width: 900px;" layout="row">
                <div flex="10">
                </div>
                <div flex="20" layout="column" layout-align="center center">
                    <h2 class="doc-h2 doc-white-font">Features</h2>
                    <ul class="doc-content-font doc-white-font">
                        <li>Visualize all communities at once</li>
                        <li>Examine members of specific commnities</li>
                        <li>Download communities</li>
                    </ul>
                </div>
                <div flex="40" layout="row" layout-align="center center">
                    <video width="400" controls>
                        <source src="res/videos/tutorial/community_explorer.mp4" type="video/mp4">
                    </video>
                </div>
                <div flex="20" layout="column" layout-align="center center">
                    <h2 class="doc-h2 doc-white-font">Usage</h2>
                    <div class="doc-content-font doc-white-font">
                        Visualizes all genes clustered by their communities. Individual communities can be looked at in tabular form to inspect their members.
                    </div>
                </div>
                <div flex="10"></div>
            </div>
            <div class="doc-content-font doc-white-font center-text">Click to download the sample file below to view the expected format of user-uploaded files.</div>
            <div class="doc-content-font doc-white-font center-text"><a class="doc-link doc-content-font doc-white-font bold" href="res/sample_files/example_community_file_er_pos.RData" target="_blank">Sample File Download</a></div>
        </div>
    </div>
    <div class="doc-background-black" flex>
        <div class="bottom-margin-75">
            <h1 class="doc-h1 doc-light-blue-font">Artistic Credits</h1>
            <div style="min-width: 900px;" layout="row">
                <div flex layout="column" layout-align="center center">
                    <div class="doc-content-font doc-light-blue-font">
                        <div>DNA by Viktor Minuvi from the Noun Project</div>
                        <div>direction by Pham Thi Dieu Linh from the Noun Project</div>
                        <div>Brain Network by Bob Holzer from the Noun Project</div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="doc-sleek-divider">
        <div class="doc-content-font doc-light-blue-font" layout="row">
            <div flex="30"></div>
            <div flex="40" layout="column">
            </div>
            <div flex="30">
                <div><a class="doc-link doc-content-font doc-light-blue-font" href="https://github.com/bhklab/CrosstalkNet/issues" target="_blank">Feedback</a></div>
                <div><a class="doc-link doc-content-font doc-light-blue-font" href="res/docs/crosstalknetdocumentation.pdf" target="_blank">Full Documentation</a></div>
                <div><a class="doc-link doc-content-font doc-light-blue-font" href="https://www.pmgenomics.ca/bhklab/contact" target="_blank">Contact</a></div>
            </div>
        </div>
    </div>
</div>
