<div class="documentation-intro-background" style="display: flex; flex-direction: column;">
    <h1 class="documentation-h1">Introducing CrosstalkNet</h1>
    <div layout="row">
        <div flex>
            <h2 class="documentation-h2">App Description</h2>
            <p class="left-padded documentation-font"> Crosstalk Net is a data mining app focused on examining the interactions between tumor epithelial and stromal cells. It has multiple utilities that allow for exploring different levels of neighbours, determining if there are paths between two genes of interest, and finding out what genes are highly connected.</p>
        </div>
        <div flex>
            <div layout="column">
                <div flex="noshrink" style="height: 50%;"></div>
                <div flex="50">
                    <h2 class="documentation-h2">Requirements</h2>
                    <p class="left-padded documentation-font"> Crosstalk Net is a data mining app focused on examining the interactions between tumor epithelial and stromal cells. It has multiple utilities that allow for exploring different levels of neighbours, determining if there are paths between two genes of interest, and finding out what genes are highly connected.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<md-card style="width: 50%">
    <md-toolbar class="md-primary md-hue-3">
        <div>App Description</div>
    </md-toolbar>
    <md-card-content layout="row" layout-wrap>
        Crosstalk Net is a data mining app focused on examining the interactions between tumor epithelial and stromal cells. It has multiple utilities that allow for exploring different levels of neighbours, determining if there are paths between two genes of interest, and finding out what genes are highly connected.
    </md-card-content>
</md-card>
<md-card style="width: 50%">
    <md-toolbar class="md-primary md-hue-3">
        <div>Getting Started</div>
    </md-toolbar>
    <md-card-content layout="row" layout-wrap>
        When the app first loads, users will be in the Data sub-tab of the Main Graph tab. This sub-tab allows users to choose the type of network they want to examine: Normal, Tumor, or Delta. It also allows users to upload their own data files for a particular network type. Once a user has selected the appropriate file(s), clicking on the Get Genes button will enable the other tabs.
    </md-card-content>
</md-card>
<md-card style="width: 50%">
    <md-toolbar class="md-primary md-hue-3">
        <div>Getting Started</div>
    </md-toolbar>
    <md-card-content layout="row" layout-wrap>
        When the app first loads, users will be in the Data sub-tab of the Main Graph tab. This sub-tab allows users to choose the type of network they want to examine: Normal, Tumor, or Delta. It also allows users to upload their own data files for a particular network type. Once a user has selected the appropriate file(s), clicking on the Get Genes button will enable the other tabs.
    </md-card-content>
</md-card>
</div>
