<md-card ng-show="vm.sharedData.matrixSummary != null" class="overall-matrix-summary">
    <md-card-title>
        <md-card-title-text>
            <div layout="row">
                <div flex><span class="md-headline">Overall Matrix Summary</span></div>
            </div>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div class="md-subhead"># of Self Loops: {{vm.sharedData.matrixSummary.selfLoops}}</div>
        <div class="md-subhead"># of Significant Interactions: {{vm.sharedData.matrixSummary.significantInteractions}}</div>
    </md-card-content>
</md-card>
