<md-sidenav class="md-sidenav-left md-whiteframe-z3" md-component-id="left" md-is-locked-open="true">
    <md-toolbar class="header-background">
        <div layout="row">
            <div flex class="left-padded">Navigation</div>
            <div flex style="position: relative;">
                <md-switch ng-model="switchModel" aria-label="Switch 1" ng-change="changeDisplay()" style="position: absolute; right: 5px;">
                    {{display}}
                </md-switch>
            </div>
        </div>
    </md-toolbar>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-disable-animation>
            <md-tab label="Styling">
                <div static-include="partials/SideBar/layoutTab.html"></div>
            </md-tab>
            <md-tab label="Data" class="md-padding">
                <div static-include="partials/SideBar/dataTab.html"></div>
            </md-tab>
            <md-tab label="Query" class="md-padding">
                <div static-include="partials/SideBar/queryTab.html"></div>
            </md-tab>
        </md-tabs>
        <div ng-if="ctrl == 'neighbour'">
            <md-list>
                <md-list-item ng-repeat="gene in selectedNeighbourGenes">
                    <md-menu>
                        <md-button ng-click="$last && $mdOpenMenu($event)">
                            {{gene.display}}
                        </md-button>
                        <md-menu-content width="6">
                            <md-menu-item ng-repeat="item in [1]">
                                <md-button ng-click="removeGene(gene)">
                                    Remove Gene
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-list-item>
            </md-list>
            <md-button ng-click="getConfigForSelectedNeighbours()">Get Data</md-button>
        </div>
    </md-content>
</md-sidenav>
