<div ng-show="display == 'Tables'">
    <div ng-show="cy != null && cy.edges() != null">{{cy.edges().length}}</div>
    <md-card ng-if="cy != null">
        <md-card-title>
            <md-card-title-text>
                <div layout="row">
                    <div flex><span class="md-headline">All Self Loops</span></div>
                    <div flex style="position: relative;">
                        <md-input-container class="no-margin right-aligned">
                            <label>Filter Self Loops</label>
                            <input ng-model="selfLoopSearch">
                        </md-input-container>
                    </div>
                </div>
                <span class="md-subhead">Total: {{$parent.selfLoops.length}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-wrap>
            <div flex="20" ng-repeat="gene in $parent.selfLoops | filter: selfLoopSearch track by $index">{{gene}}</div>
        </md-card-content>
    </md-card>
    <md-card ng-show="cy != null && cy.edges() != null && cy.edges('[neighbourLevel=1]').length > 0">
        <md-card-title>
            <md-card-title-text>
                <div layout="row">
                    <div flex><span class="md-headline">First Neighbour Interactions</span></div>
                    <div flex style="position: relative;">
                        <md-input-container class="no-margin right-aligned">
                            <label>Filter Interactions</label>
                            <input ng-model="interactionSearch">
                        </md-input-container>
                    </div>
                </div>
                <span class="md-subhead">Total: {{cy.edges("[neighbourLevel=1]").length}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <table id="first-neighbours-table">
                <thead>
                    <tr>
                        <th> </th>
                        <th ng-repeat="stroma in $parent.firstNeighbours.stroma">{{stroma}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="epi in $parent.firstNeighbours.epi">
                        <td class="row-name">{{epi}}</td>
                        <td ng-repeat="stroma in $parent.firstNeighbours.stroma">{{getInteractionViaDictionary(epi, stroma)}}</td>
                    </tr>
                </tbody>
            </table>
            <md-button ng-click="exportTableToCSV('first')">Download Interactions</md-button>
        </md-card-content>
    </md-card>
    <md-card ng-show="cy != null && cy.edges() != null && cy.edges('[neighbourLevel=2]').length > 0">
        <md-card-title>
            <md-card-title-text>
                <div layout="row">
                    <div flex><span class="md-headline">Second Neighbour Interactions</span></div>
                    <div flex style="position: relative;">
                        <md-input-container class="no-margin right-aligned">
                            <label>Filter Interactions</label>
                            <input ng-model="interactionSearch">
                        </md-input-container>
                    </div>
                </div>
                <span class="md-subhead">Total: {{cy.edges("[neighbourLevel=2]").length}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <table id="second-neighbours-table" md-no-ink>
                <thead>
                    <tr>
                        <th> </th>
                        <th ng-repeat="stroma in $parent.secondNeighbours.stroma">{{stroma}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="epi in $parent.secondNeighbours.epi">
                        <td class="row-name">{{epi}}</td>
                        <td ng-repeat="stroma in $parent.secondNeighbours.stroma">{{getInteractionViaDictionary(epi, stroma)}}</td>
                    </tr>
                </tbody>
            </table>
            <md-button ng-click="exportTableToCSV('second')">Download Interactions</md-button>
        </md-card-content>
    </md-card>
    <!--
    <md-card ng-if="cy != null">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Degree Cutoff Interactions</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-wrap>
            <div flex="20" ng-repeat="node in getNodesWithMinDegree($parent)">
                <div class="interaction-card">
                    {{node.id()}} - {{node.data('degree')}}
                    <span ng-repeat="child in getInteractingNodes(node, cy)">{{child.id()}} </span>
                </div>
            </div>
        </md-card-content>
    </md-card>-->
</div>
