<div ng-if="vm.sdWithinTab.display == vm.displayModes.table">
    <div ng-if="vm.ctrl == 'main'">
        <div static-include="partials/tables/selfLoops.html"></div>
        <div static-include="partials/tables/generalNeighbours.html"></div>
    </div>
    <div ng-if="vm.ctrl == 'neighbour'">
        <div static-include="partials/tables/selfLoops.html"></div>
        <div static-include="partials/tables/generalNeighbours.html"></div>
    </div>
    <div ng-if="vm.ctrl == 'pathExistence'">
        <div static-include="partials/tables/allPaths.html"></div>
    </div>
</div>
