<div ng-repeat="x in [] | range:neighbours.length-1">
    <md-card ng-show="cy != null && cy.edges() != null ">
        <md-card-title>
            <md-card-title-text>
                <div layout="row">
                    <div flex><span class="md-headline">{{x + 1 | ordinal}} Level Interactions</span></div>
                    <div flex style="position: relative;">
                        <md-input-container class="no-margin right-aligned">
                            <label>Filter Interactions</label>
                            <input ng-model="interactionSearch">
                        </md-input-container>
                    </div>
                </div>
                <span class="md-subhead">Total: {{cy.edges("[neighbourLevel=" + (x + 1) + "]").length}}</span>
            </md-card-title-text>
        </md-card-title>n
        <md-card-content class="table-card-height">
            <table id="first-neighbours-table">
                <thead>
                    <tr>
                        <th> </th>
                        <th ng-repeat="neighbour in neighbours[x].stroma.concat(neighbours[x].epi)">{{neighbour}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="row-name">{{genesOfInterest[x].value}}</td>
                        <td ng-repeat="neighbour in neighbours[x].stroma.concat(neighbours[x].epi)">{{getInteractionViaDictionary(genesOfInterest[x].value, neighbour)}}</td>
                    </tr>
                </tbody>
            </table>
            <md-button class="md-raised md-primary" ng-click="exportTableToCSV('first-neighbours-table')">Download Interactions</md-button>
        </md-card-content>
    </md-card>
</div>
