<md-card ng-if="vm.sdWithinTab.cy != null">
    <md-card-title>
        <md-card-title-text>
            <div layout="row">
                <div flex><span class="md-headline">All Self Loops</span></div>
                <div flex style="position: relative;">
                    <md-input-container class="no-margin right-aligned">
                        <label>Filter Self Loops</label>
                        <input ng-model="vm.sdWithinTab.selfLoopSearch">
                    </md-input-container>
                </div>
            </div>
            <span class="md-subhead">Total: {{vm.sdWithinTab.selfLoops.length}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row" layout-wrap>
        <div flex="20" ng-repeat="gene in vm.sdWithinTab.selfLoops | filter: vm.sdWithinTab.selfLoopSearch track by $index">{{gene}}</div>
    </md-card-content>
</md-card>
