<div ng-if="vm.sdWithinTab.display == vm.displayModes.table">
    <div ng-if="vm.ctrl == 'main'">
        <div static-include="partials/tables/components/selfLoops.html"></div>
        <div static-include="partials/tables/components/generalNeighbours.html"></div>
    </div>
    <div ng-if="vm.ctrl == 'interactionExplorer'">
        <div static-include="partials/tables/components/selfLoops.html"></div>
        <div static-include="partials/tables/components/generalNeighbours.html"></div>
    </div>
    <div ng-if="vm.ctrl == 'pathExistence'">
        <div static-include="partials/tables/components/allPaths.html"></div>
    </div>
</div>
