<div style="width: 150px; ">
    <div layout="row">
        <div flex>
            <svg height="50" width="50">
                <circle cx="25" cy="25" r="20" fill="red" />
            </svg>
        </div>
        <div flex>
            <span>Epi</span>
        </div>
    </div>
    <div layout="row">
        <div flex>
            <svg height="50" width="50">
                <circle cx="25" cy="25" r="20" fill="blue" />
            </svg>
        </div>
        <div flex>
            <span>Stroma</span>
        </div>
    </div>
</div>
