/* app css stylesheet */

.no-padding-top {
    padding-top: 0px;
}

.no-padding-bottom {
    padding-bottom: 0px;
}

.no-margin-top {
    margin-top: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.select:first-child {
    margin-top: 0px;
}

.full-width {
    width: 100%;
}

.small-button {
    min-width: 0px;
}

.hide {
    display: none !important;
}

md-dialog md-dialog-actions.login {
    display: block;
    justify-content: inherit;
    padding-right: 16px;
}

md-dialog md-dialog-actions .md-button {
    margin-right: 8px;
}

md-select-value { 
    max-width: 300px;
}

.login-controls-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph-container {
    width: 100%;
    height: 800px;
    background-color: white;
}

md-list-item.md-clickable:hover {
    cursor: initial;
}

.flex-toolbar {
    display: flex;
}

.align-flex-horizontal {
    justify-content: center;
}

.align-flex-right {
    justify-content: flex-end;
}

.align-flex-vertical {
    align-items: center;
}

.toolbar-height {
    height: 50px;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.highlight:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.red-text {
    color: #d50000;
}

md-sidenav {
    width: inherit;
    max-width: 350px;
    min-width: 350px;
}

.bottom-margin {
    margin-bottom: 10px;
}

.bottom-margin-25 {
    margin-bottom: 25px;
} 

.top-margin-10 {
    margin-top: 10px;
}

.left-margin {
    margin-left: 15px;
}

.right-margin {
    margin-right: 15px;
}

.center-text {
    text-align: center;
}

.text-align-middle {
    vertical-align: middle;
}

.light-blue {
    background-color: #1A237E !important;
}

.highlighted {
    line-color: red;
}

.faded {
    line-color: rgba(0, 0, 0, 0.1);
}

.list-height {
    max-height: 150px;
    overflow: auto;
}

fieldset.standard {
    border-style: solid;
    border-color: #9E9E9E;
    border-width: 1px;
    color: #9E9E9E;
}

fieldset.standard div {
    color: black;
}

.header-background {
    background-color: rgb(33, 150, 243) !important;
}

.title-font {
    font-size: 30px;
}

md-toolbar {
    min-height: 50px !important;
}

md-input-container {
    margin-top: 25px;
    margin-bottom: 0px;
}

md-input-container.select {
    ./* margin: 0px !important;*/
}

md-switch {
    margin: 0px !important;
}

.md-button {
    line-height: inherit !important;
}

md-menu-content {
    min-width: inherit !important;
}

.interaction-card {
    background-color: black;
    padding-left: 1px;
    margin-bottom: 2px;
    color: white;
    border-right: 1px solid green;
}

.interaction-card:nth-child(5n + 0) {
    border-right: none;
}

.no-margin {
    margin: 0px !important;
}

.right-aligned {
    position: absolute;
    right: 0px;
}

.selected-genes-list {
    max-height: 250px;
    overflow: auto;
}

.fieldset-legend {
    font-size: 15px;
    font-color: grey;
}

.fieldset-border {
    border-color: grey;
    border-width: 1px;
    border-style: solid;
}

.fieldset-left-padding {
    padding-left: 5px;
}

.label-position {
    bottom: 75% !important;
}

td,
th {
    padding: 5px;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black !important;
}

table.md-table {
    overflow: auto;
}

.md-table .table-center {
    vertical-align: middle !important;
    text-align: center !important;
    padding: 0px !important;
}

.row-name {
    font-weight: bold;
}

md-card-content {
    overflow-x: auto !important;
}

table-card-height {
    max-height: 400px;
    overflow-y: auto !important;
}

.edge-inspector {
    width: 250px;
}

.graph-summary {
    width: 250px;
}

.legend {
    width: 400px;
}

.card-title {
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-content {
    font-size: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.left-padded {
    padding-left: 5px;
}

.right-padded-25 {
    padding-right: 25px;
}

.top-padded {
    padding-top: 5px;
}

.top-padded-10 {
    padding-top: 10px;
}

.card-side-by-side {
    display: inline-block;
}

md-autocomplete {
    margin-bottom: 10px;
}

md-divider {
    margin-bottom: 10px;
    margin-top: 10px;
}

.md-button {
    margin-left: 0px;
}

table.md-table {
    width: inherit !important;
}

table.md-table th.md-column {
    font-size: inherit !important;
    color: black !important;
}

.float-bottom {
    position: absolute;
    bottom: 0px;
}


/* Disable animations*/

.md-ripple-container,
.md-ripple-placed {
    transition: none;
}

.md-open-menu-container.md-active {
    opacity: 1;
    transition: none;
    transition-duration: 0ms;
    /* transition: all .4s cubic-bezier(.25,.8,.25,1); */
    /* transition-duration: 200ms; */
}

md-dialog.md-transition-in {
    opacity: 1;
    transition: none;
    -webkit-transform: none;
    transform: none;
}


/* Scrollbar fix for mac */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
