<md-content class="md-padding">
    <div layout="row">
        <md-button ng-click="resize(cy)">Resize</md-button>
    </div>
    <div>
        <md-input-container class="select">
            <label>Layout</label>
            <md-select ng-model="selectedLayout">
                <md-option ng-repeat="layout in layouts" value="{{layout.value}}" ng-selected="layout.value == 'preset'">
                    {{layout.display}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
</md-content>
