<md-content>
    <div ng-show="ctrl == 'neighbour'" class="md-padding">
        <md-autocomplete ng-class="[whichController, whichController + ctrl]" md-no-cache='true' md-selected-item="selectedItemFirst" md-search-text="searchTextFirst" md-selected-item-change="addGeneOfInterest(item, 'first')" md-items="item in querySearch(searchTextFirst, genesOfInterest.length > 0 ? 'second' : 'geneList', this) | degreeFilter : minDegree.first" md-item-text="item.display" md-min-length="genesOfInterest.length > 0 ? 0 : 2" md-match-case-insensitive="true" placeholder="Please enter a gene of interest">
            <md-item-template>
                <span md-highlight-text="searchTextFirst" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
            <md-not-found>
                No states matching "{{searchTextFirst}}" were found.
            </md-not-found>
        </md-autocomplete>
    </div>
    <div ng-if="ctrl == 'neighbour'" class="md-padding">
        Selected Path
        <md-list class="selected-genes-list">
            <md-list-item ng-repeat="gene in genesOfInterest">
                <md-menu>
                    <md-button ng-click="$last && $mdOpenMenu($event)">
                        {{gene.display}}
                    </md-button>
                    <md-menu-content width="6">
                        <md-menu-item ng-repeat="item in [1]">
                            <md-button ng-click="removeGene(gene)">
                                Remove Gene
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-list-item>
        </md-list>
        <md-button class="md-raised md-primary" ng-click="getConfigForSelectedNeighbours()">Get Data</md-button>
    </div>
    <md-divider></md-divider>
    <div class="md-padding">
        <h2 class="md-subhead">Gene Locator</h2>
        <md-autocomplete ng-class="[whichController, whichController + ctrl + 'geneLocator']" md-no-cache='true' md-selected-item="zoomGene" md-search-text="searchTextZoom" md-selected-item-change="locateGene(gene)" md-items="gene in querySearch(searchTextZoom, 'locate', this)" md-item-text="gene" md-min-length="0" placeholder="Locate Gene">
            <md-item-template>
                <span md-highlight-text="searchTextZoom" md-highlight-flags="^i">{{gene}}</span>
            </md-item-template>
            <md-not-found>
                No states matching "{{searchTextZoom}}" were found.
            </md-not-found>
        </md-autocomplete>
        <md-button class="md-raised md-primary" ng-click="clearLocatedGene()">Clear Located Gene</md-button>
    </div>
</md-content>
