<md-content>
    <div class="md-padding">
        <div class="md-subhead bottom-margin">Network Type:</div>
        <md-radio-group ng-disabled="state.id == states.gettingGeneList.id" ng-model="vm.selectedNetworkType">
            <md-radio-button ng-disabled="state.id == states.gettingGeneList.id" value="normal" class="md-primary">Normal</md-radio-button>
            <md-radio-button ng-disabled="state.id == states.gettingGeneList.id" value="tumor" class="md-primary">Tumor</md-radio-button>
            <md-radio-button ng-disabled="state.id == states.gettingGeneList.id" value="delta" class="md-primary">Delta</md-radio-button>
        </md-radio-group>
    </div>
    <div class="bottom-margin md-padding no-padding-top no-padding-bottom">
        <md-input-container ng-repeat="(key, value) in vm.correlationFileDisplayed" ng-if="vm.selectedNetworkType == key || vm.selectedNetworkType == 'delta'" class="select">
            <label>Select {{key | capitalize}} Matrix File</label>
            <md-select class="file-select" ng-model="vm.correlationFileDisplayed[key]">
                <md-option ng-repeat="file in vm.fileList[key] | showDeltaFiles:vm.selectedNetworkType" value="{{file}}" ng-selected="0">
                    <span ng-if="file.type == 'personal'" ng-click="vm.deleteConfirm($event, file)" class="highlight right-margin red-text">X</span> {{file.name | removeDeltaPrefix}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="md-padding">
        <md-button class="md-primary md-raised" ng-click="vm.getGenes()">Get Genes
            <md-tooltip ng-if="vm.showTooltip.button" md-direction="right" md-visible="vm.showTooltip.button">
                Click me to get genes for file!
            </md-tooltip>
        </md-button>
    </div>
    <div ng-if="vm.sharedData.permission != 0">
        <md-divider></md-divider>
        <div class="md-padding">
            <div class="md-subhead bottom-margin">Optional File Upload</div>
            <form>
                <div ng-repeat="(key, value) in vm.matrixUpload" ng-if="vm.selectedNetworkType == key || vm.selectedNetworkType == 'delta'" class="bottom-margin">
                    <md-button class="md-primary md-raised" type="file" ngf-select ng-model="vm.matrixUpload[key]" ngf-max-height="1000" ngf-max-size="20MB" accept=".Rdata,.RData" ngf-pattern=".Rdata,.RData">Choose {{key | capitalize}} File</md-button>
                    <div>{{key | capitalize}} File: {{vm.matrixUpload[key].name ? vm.matrixUpload[key].name : "No file selected"}}</div>
                </div>
                <md-button ng-click="vm.uploadFiles()" class="md-primary md-raised top-margin-10">Upload Files</md-button>
            </form>
        </div>
    </div>
    <md-divider></md-divider>
    <div class="md-padding">
        <md-button class="md-primary md-raised example-download-button" href="res/sample_files/example_matrices.zip">Download Example Files</md-button>
    </div>
</md-content>
