<md-card ng-if="vm.sdWithinTab.topGenes != null">
    <md-card-title>
        <md-card-title-text>
            <div layout="row">
                <div ng-if="vm.sdWithinTab.filterType == 'top'" flex>
                    <span class="md-headline">Top {{vm.sdWithinTab.filterAmount.top}} genes</span>
                </div>
                <div ng-if="vm.sdWithinTab.filterType == 'min'" flex>
                    <span class="md-headline">Genes with degree {{vm.sdWithinTab.filterAmount.min}} or greater</span>
                </div>
                <div ng-if="vm.sdWithinTab.filterType == 'both'" flex>
                    <span class="md-headline">Top {{vm.sdWithinTab.filterAmount.top}} Genes with degree {{vm.sdWithinTab.filterAmount.min}} or greater</span>
                </div>
                <!-- <div flex style="position: relative;">
                    <md-input-container class="no-margin right-aligned">
                        <label>Filter Self Loops</label>
                        <input ng-model="vm.sdWithinTab.selfLoopSearch">
                    </md-input-container>
                </div> -->
            </div>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div class="bottom-margin-25">
            <div class="top-padded-10" layout="row">
                <div flex><span class="md-title">{{vm.sharedData.rowPost}} Genes</span></div>
                <div flex style="position: relative;">
                    <md-input-container class="no-margin right-aligned">
                        <label>Filter {{vm.sharedData.rowPost}} Genes</label>
                        <input ng-model="vm.sdWithinTab.search.row" ng-change="vm.search('row')" ng-model-options="{ debounce: {'default': 50}}">
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-wrap>
                <div flex="20" class="min-width-125" ng-repeat="gene in vm.sdWithinTab.filtered.row.genes">
                    <md-menu>
                        <md-button ng-click="$mdOpenMenu($event)">{{gene.display}}</md-button>
                        <md-menu-content width="6">
                            <md-menu-item>
                                <md-button ng-click="vm.goToGeneCard(gene)">Gene Card</md-buttom>
                            </md-menu-item>
                            <!--                             <md-menu-item>
                                <md-button>Add To Main Graph</md-button>
                            </md-menu-item> -->
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>
        <md-table-pagination md-limit="vm.sdWithinTab.pagination.row.query.limit" md-limit-options="vm.sdWithinTab.pagination.row.limitOptions" md-page="vm.sdWithinTab.pagination.row.query.page" md-total="{{vm.sdWithinTab.filtered.row.total}}" md-on-paginate="vm.paginateRow" md-page-select="true" md-boundary-links="true" md-label="{{vm.sdWithinTab.pagination.row.label}}"></md-table-pagination>
        <div class="bottom-margin-25">
            <div class="top-padded-10" layout="row">
                <div flex>
                    <span class="md-title">{{vm.sharedData.colPost}} Genes</span>
                </div>
                <div flex style="position: relative;">
                    <md-input-container class="no-margin right-aligned">
                        <label>Filter {{vm.sharedData.colPost}} Genes</label>
                        <input ng-model="vm.sdWithinTab.search.col" ng-change="vm.search('col')" ng-model-options="{ debounce: {'default': 50}}">
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-wrap>
                <div flex="20" ng-repeat="gene in vm.sdWithinTab.filtered.col.genes">
                    <md-menu>
                        <md-button ng-click="$mdOpenMenu($event)">{{gene.display}}</md-button>
                        <md-menu-content width="6">
                            <md-menu-item>
                                <md-button ng-click="vm.goToGeneCard(gene)">Gene Card</md-buttom>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>
        <md-table-pagination md-limit="vm.sdWithinTab.pagination.col.query.limit" md-limit-options="vm.sdWithinTab.pagination.col.limitOptions" md-page="vm.sdWithinTab.pagination.col.query.page" md-total="{{vm.sdWithinTab.filtered.col.total}}" md-on-paginate="vm.paginateCol" md-page-select="true" md-boundary-links="true" md-label="{{vm.sdWithinTab.pagination.col.label}}"></md-table-pagination>
        <md-button class="md-raised md-primary" ng-click="vm.exportTopGenesToCSV(vm)">Download As CSV</md-button>
    </md-card-content>
</md-card>
