<md-sidenav class="md-sidenav-left md-whiteframe-z3" md-component-id="left" md-is-locked-open="true">
    <md-toolbar class="md-primary md-hue-3">
        <div layout="row">
            <div flex class="left-padded top-padded">Navigation</div>
        </div>
    </md-toolbar>
    <md-content>
        <md-tabs md-selected="vm.tabIndex" md-dynamic-height md-border-bottom md-disable-animation>
            <md-tab label="Query" class="md-padding">
                <div ng-controller="CEQueryController as vm" ng-init="vm.initializeController('communityExplorer')" static-include="partials/CETab/subTabs/query/query.html"></div>
            </md-tab>
        </md-tabs>
    </md-content>
</md-sidenav>
