<md-content>
    <div class="md-padding">
        <md-tooltip ng-if="!vm.allowAdditionalGenes" md-direction="right">
            Remove recently added gene or get data to re-enable gene selection.
        </md-tooltip>
        <md-autocomplete ng-class="[vm.ctrl]" md-no-cache='true' md-selected-item="vm.selectedItemFirst" md-search-text="vm.searchTextFirst" md-selected-item-change="vm.addGeneOfInterest(item, 'first')" md-items="item in vm.querySearch(vm.searchTextFirst, vm.genesOfInterest.length > 0 ? 'explorer' : 'geneList')" md-item-text="item.display" md-min-length="vm.genesOfInterest.length > 0 ? 0 : 2" md-match-case-insensitive="true" placeholder="Please enter a gene of interest">
            <md-item-template>
                <span md-highlight-text="vm.searchTextFirst" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
            <md-not-found>
                No states matching "{{vm.searchTextFirst}}" were found.
            </md-not-found>
        </md-autocomplete>
    </div>
    <div class="md-padding">
        Selected Path
        <md-list class="selected-genes-list">
            <md-list-item ng-repeat="gene in vm.genesOfInterest">
                <span ng-if="$last" ng-click="state.id == states.loadingGraph.id  || state.id == states.loadingConfig.id || vm.removeGene(gene)" class="right-margin red-text remove-border" ng-class="{'highlight': state.id != states.loadingGraph.id && state.id != states.loadingConfig.id, 'disabled': state.id == states.loadingGraph.id || state.id == states.loadingConfig.id}">X</span>
                <span>{{gene.value}}</span>
            </md-list-item>
        </md-list>
        <md-button class="md-raised md-primary" ng-click="vm.refreshGraph()" ng-disabled="vm.genesOfInterest.length == 0">Get Data</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.removeAllGenes()" ng-disabled="state.id == states.loadingGraph.id || state.id == states.loadingConfig.id || vm.genesOfInterest.length == 0">Remove All</md-button>
    </div>
    <md-divider></md-divider>
    <div class="md-padding">
        <h2 class="md-subhead">Gene Locator</h2>
        <md-autocomplete ng-class="[vm.ctrl + 'geneLocator']" md-no-cache='true' md-selected-item="vm.zoomGene" md-search-text="vm.searchTextZoom" md-selected-item-change="vm.locateGene(vm, gene)" md-items="gene in vm.querySearch(vm.searchTextZoom, 'locate')" md-item-text="gene" md-min-length="2" placeholder="Locate Gene">
            <md-item-template>
                <span md-highlight-text="vm.searchTextZoom" md-highlight-flags="^i">{{gene}}</span>
            </md-item-template>
            <md-not-found>
                No states matching "{{vm.searchTextZoom}}" were found.
            </md-not-found>
        </md-autocomplete>
        <md-button class="md-raised md-primary" ng-click="vm.clearLocatedGene()">Clear Located Gene</md-button>
    </div>
</md-content>
